.header {
  background: #FFFFFF;
  height: 80px;
  margin-bottom: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0 22px 26px 0; */
  padding: 0 22px;
}

.logo {
  cursor: pointer;
  margin: 0;
  text-decoration: none;
  /* @heading-color */
  color: rgba(0, 0, 0, 0.85);
}

.content {
  width: 80%;
  margin: 0 auto;
}

.sign-in {
  color: rgba(0, 0, 0, 0.85);
}

.green-btn {
  /* @success-color */
  color: #52C41A;
}

.spin {
  position: relative;
  // top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 50px;
}

.error {
  height: 55px;
}

.wrapper {
  display: flex;
  align-items: center;
}

.log-out {
  border: 1px solid rgba(0, 0, 0, 0.75);
  // padding: 18px;
}

.profile-wrapper {
  display: flex;
  margin: 0 26px;
}

.username {
  /* H6 - Header 6 */
  font-family: 'Inter UI';
  font-size: 18px;
  line-height: 28px;
  /* @heading-color */
  color: rgba(0, 0, 0, 0.85);

  text-decoration: none;
}

.avatar {
  width: 46px;
  height: 46px;
  border-radius: 100%;
  margin: auto;
  margin-left: 12px;
}